@font-face {
  font-family: minimalist;
  src: url("../assets/fonts/NotoSansOldNorthArabian-Regular.ttf");
}

body{
  margin: 0;
  background-color: #f8f8ff;
}

header{
  display: flex;
  flex-direction: row;
  gap: 30vw;
  background-color: #f9f9f9;
  width: 100vw;
  height: 15vh;
  padding: 10px;
  font-family: minimalist;
  border: 1px solid rgba(0, 0, 0, 0.181);
  box-shadow: 0px -1px 4px #5f5f5fe8;
}

header > #container-header{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 10vw;
  padding-left: 20px;
  grid-area: div;
  line-height: 14vh;
}

header > #container-menu{
  width: 35vw;
  grid-area: nav;
}

#container-menu #lista-menu{
  display: flex;
  line-height: 11vh;
  flex-direction: row;
  gap: 10%;
  list-style-type: none;
  font-size: 1.5rem;
}

#container-toggle{
  width: 100vw;
  font-family: minimalist;
  background-color:rgb(88, 238, 71);
  visibility: visible;
}

#toggle-menu{
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: row;
  gap: 3%;
  width: 35vw;
  margin-left: 53.5%;
  margin-top: 1px;
  background-color: #ffe5ed;
  border: 3px solid #ffffff;
  border-radius: 1rem;
}

#lista-menu > .item-menu{
  cursor: pointer;
}

#toggle-menu > ul{
  list-style-type: none;
  font-size: 1.4rem;
  margin-top: 5px;
}

#toggle-menu > ul > li{
  margin-top: 1.3rem;
}

#toggle-menu > ul > li:hover{
  text-decoration: underline #5f5f5f;
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

#container-social{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 4vw;
  height: 22vh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  top: 37%;
  border: 2px solid rgb(244, 244, 244);
  box-shadow: 1px 1px 3px #5f5f5fdd;
  border-radius: 1rem;
  left: 0.5%;
}

#container-social .item-social{
  height: 50%;
  width: 75%;
}

.item-social > img{
  width: 100%;
  height: 100%;
} 