body{
  background-color: #f8e9dab9;
}

@font-face{

  font-family: Inter;
  src: url(../estilos/fonts/Inter-Regular.ttf);

}

body header{
  width: 80vw;
  background-color: #f5e8d7;
  margin-left: 10%;
  margin-right: 10%;
}

header h1{
  font-size: 2.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2c2c2c;
}

header h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2c2c2c;
}

main{
  border: 3px solid #f8e5cf;
  margin-left: 2%;
  margin-right: 2%;
}

article p{
  color: #212020;
  font-family: inter;
  font-size: 1.2rem;
}