@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  display: flex;
  background-color: #e4e1e1;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  margin-top: 8%;
  justify-content: center;
  align-items: center;
  width: 80vw;
  background-color: #ffffffaf;
  border: 2px solid #fff;
  box-shadow: 1px 2px 6px rgba(68, 67, 67, 0.582);
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0.3rem;
}

.caja {
  width: 180px;
  height: 180px;
  box-shadow: 1px 1px 6px rgba(68, 67, 67, 0.493);
  margin: 30px;
  text-align: center;
  line-height: 150px;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  background-color: #e6fffbd7;
}

.caja:hover {
  border: 2px solid #fff;
  box-shadow: 1px 2px 6px rgba(68, 67, 67, 0.582);
}

.caja:click {
  background-color: rgba(181, 255, 243, 0.843);
}

.caja > p {
  text-shadow: 0px 1px 1px rgba(68, 67, 67, 0.432);
  font-size: 1.2rem;
  font-family: "Bellota Text";
  font-weight: 800;
  font-size: 1.2rem;
}
