@font-face {
  font-family: "afont";
  src: url("../assets/fonts/Inter-ExtraBold.ttf");
}

body{
  padding: 50px;
}

#contenedor{
  max-width: 1300px;
}

.caja{
  display: block;
  background-color: bisque;
  border: 7px solid salmon;
  max-width: 260px;
  width: 260px;
  height: 260px;
  float: left;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.caja>p{
  font-size: 1.3rem;
  color: rgb(42, 42, 42);
  font-weight: 600;
  line-height: 230px;
  text-align: center;
  font-family: "afont";
}